# Python
__pycache__/
*.py[cod]
*.egg-info/
.env

# Modèles sauvegardés (trop lourds pour git)
*.pt
*.pth
*.zip

# IDE
.vscode/
.idea/

# Documentation générée par Doxygen
docs/html/
docs/latex/
Doxyfile

#dqn
*.mp4
log.json
